{
    "presets": [
        [
            "@babel/env",
            {
                "exclude": ["transform-regenerator"],
                "useBuiltIns": false
            }
        ],
        "@babel/react",
        "@babel/preset-flow"
    ]
}